{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
	<div class="footer_container">
		<div class="logo-div">
			<a id="footer_home" href="/bang/League_of_Legends/home"><img id="logo-img" src="{% static 'imgs/logo.png' %}"></a>
		</div>
		<div class="copyright-div">
			<ul>		
		   		<li>Copyright ⓒ Bang soft Corp. All rights reserved</li>   
		   		<li> |	대표 : 만식이</li> 
		   		<li> |	주소 : (153-759) 서울시 금천구 가산동 426-5 월드메르디앙 2차 413호</li>      
			</ul>
		</div>
		
	</div>
</footer>