{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/rift.css' %}">
	<title>롤방 게시판</title>
	<link rel="shortcut icon" href="#">
	<style>

	</style>
</head>
<body>
{% include 'header.html' %}
<div class="body_container">
	<div class="nav_container">
		<div class="article-parents-title">
			<div class="article-parents-title"><strong>DB</strong></div>
			<div class="article-childs-title">
				<div><li><button id="article-childs-item-button" onclick="location.href='/bang/League_of_Legends/db/champion'"><span class="champion-db" id="article-childs-item-span">챔피언</span></button ></li></div>
				<div><li><button id="article-childs-item-button" onclick="location.href='/bang/League_of_Legends/db/map'"><span class="game-db" id="article-childs-item-span">게임 모드</span></button></li></div>
			</div>	
		</div>
	</div>
	<section>
		<div class="center_container">
			<div class="category-title-wrapper">
				<label id="category-title-label1"><strong>게임 모드</strong></label>
				<label id="category-title-label2"><strong>2</strong></label>
			</div>
			<div class="role-category-wrapper">
				<label id="role-category-label">게임 모드</label>
				<input type="button" class="mapname" id="mapname1" onclick="location.href='/bang/League_of_Legends/db/map/Summoners_Rift'" value="소환사의 협곡"/>
				<input type="button" class="mapname" id="mapname2" onclick="location.href='/bang/League_of_Legends/db/map/Howling_Abyss'" value="칼바람 나락"/>
			</div>
			<div class="detail_container">
				<div class="header-container">
					<div class="header-thumbnail">
						<div class="header-thumbnail-image" style="background-image: url('{% static 'imgs/rift-header.png' %}');";>					
						</div>
					</div>
					<div class="header-thumbnail-title"> 
						<h3 class="title-name">소환사의 협곡
						</h3>
					</div>
				</div>
				<div class="info-container">
					<p class="info-container-explain">
						<span>리그 오브 레전드의 대표적 전장인 소환사의 협곡은 가장 많은 플레이어들이 선호하는 전장입니다. 각 다섯 명의 챔피언으로 두 팀을 구성하여, 세 갈래 공격로와 넓은 정글을 오가며 교전을 펼치게 됩니다. 
							<br><br>정글에는 강력한 중립 몬스터들이 포진해 있으며, 특별한 몬스터들은 이로운 효과를 부여하기도 합니다. 공격로 대치 단계가 길고, 대규모 팀간 전투가 벌어지는 것이 가장 큰 특징입니다.<br>
						</span>
					</p>
					<div class="info-container-explain-image">
						<img src="{% static 'imgs/rift-explain.png' %}" class="info-image">
					</div>
				</div>
				<div class="info-container-content1">
					<div class="content-header">
						<h4 class="content-title">기본 정보</h4>
					</div>
					<h5 class="content-category1">방어와 파괴</h5>
					<p class="category1-explain">	
						<span>많은 소환사 여러분께 사랑받는 소환사의 협곡은 치열한 경쟁이 벌어지는 리그 오브 레전드의 대표적 맵이며, 프로 경기가 펼쳐지는 전장이기도 합니다.<br><br>
							  협곡에서의 전투는 공격로 상대와 벌이는 소규모 교전으로 시작해 손에 땀을 쥐게 하는 대규모 팀 전투로 발전해 갑니다. 상대 팀의 기지를 향해 공격로를 압박해 들어가 적의 넥서스를 파괴하고 승리를 차지하세요.<br>
						</span>
					</p>
					<div>
						<img src="{% static 'imgs/rift-category1.png' %}" class="category1-image">
					</div>
				</div>
				<div class="info-container-content2">
					<br>
					<h5 class="content-category1">협곡의 전투</h5>
					<p class="category1-explain">
						<span>가장 넓은 전장인 소환사의 협곡은 대각선을 기준으로 대칭을 이루고 있으며, 적의 기지까지 세 개의 공격로가 배치되어 있습니다. 공격로마다 각각 세 개의 포탑과 하나의 억제기가 방어하고 있으며, 넥서스는 두 개의 포탑이 지키고 있습니다.<br><br>
							양 팀 진영에는 강력한 몬스터들이 포진해있는 넓은 정글이 있고, 중앙을 가로지르는 강에는 팀 전체에 이로운 효과를 주는 에픽 몬스터 둘이 자리 잡고 있습니다.<br><br>
							적의 넥서스를 파괴하고 승리를 쟁취하기 위해선 강해져야 합니다. 공격로의 미니언들과 적 챔피언, 정글 몬스터들을 치하고 얻는 골드를 모아 상점에서 강력한 아이템들을 구매하세요<br>
						</span>
					</p>
					<div>
						<img src="{% static 'imgs/rift-category2.png' %}" class="category1-image">
					</div>
					<div class="content-header2">
						<h4 class="content-title">맵 정보</h4>
					</div>
					<h5 class="content-category1">중립지역 (내셔남작)</h5>
					<p class="category1-explain">
						<span>상단 공격로 근처의 강에는 이 무시무시한 에픽 몬스터의 둥지가 있습니다. 내셔 남작은 리그 오브 레전드에서 가장 강력한 중립 몬스터로, 내셔 남작을 처치하면 생존한 모든 아군 챔피언에게 남작의 도움 효과가 적용됩니다<br><br>
							* 남작의 도움 : 공격력과 주문력이 크게 상승하며, 귀환 시간을 반으로 줄여줍니다. 주위의 모든 미니언에게도 사거리, 피해량, 이동 속도 증가 및 받는피해 감소 등의 강력한 효과가 적용됩니다.<br>
						</span>
					</p>
					<div>
						<img src="{% static 'imgs/rift-category3.png' %}" class="category1-image">
					</div>
					<br>
					<h5 class="content-category1">중립지역 (드래곤)</h5>
					<p class="category1-explain">
						<span>드래곤은 처치 시 원소 종류에 따라 고유의 추가 효과를 부여하는 강력한 몬스터입니다. 6종류의 원소 드래곤과 장로 드래곤으로 나뉩니다<br><br>
							드래곤을 4번 처치하여 강력한 효과인 드래곤의 영혼을 획득하세요. 이는 이후 등장하는 강력한 에픽 몬스터인 장로 드래곤을 처치하는데 큰 도움이 될것입니다<br><br>
							두번째 드래곤을 다음번부터 등장하는 용의 속성에따라 한차례, 협곡의 지형이 크게 변화합니다. 이를 전략적으로 활용해 아군과 함께 적을 처치하세요<br>
						</span>
					</p>
					<div>
						<img src="{% static 'imgs/rift-category4.png' %}" class="category1-image">
						<img src="{% static 'imgs/rift-category5.png' %}" class="category1-image">
					</div>
				</div>
				<br>
				<h5 class="content-category1">중립지역 (정글)</h5>
				<p class="category1-explain">
					<span>소환사의 협곡에 대칭으로 자리잡은 정글에는 하급 몬스터 캠프들뿐만 아니라, 처치할 경우 더 강력하며 오래 가는 효과를 얻을 수 있는 강력한 몬스터 캠프가 둘 씩 있습니다.<br>
					</span>
				</p>
				<div>
					<img src="{% static 'imgs/rift-category6.png' %}" class="category1-image">
				</div>
				<p class="category1-explain">
					<span>* 통찰력의 문장 : 푸른 파수꾼을 처치하면 90초간 통찰력의 문장 효과를 얻어, 스킬 재사용 대기시간이 줄어들고 마나 회복 속도가 높아집니다.<br>
						* 잉걸불의 문장 : 붉은 덩굴정령을 처치하면 90초간 잉걸불의 문장 효과를 얻어, 기본 공격으로 적에게 둔화를 걸고 지속 피해를 입히며, 일정 시간 동안 체력을 회복합니다.<br><br>
						정글 몬스터에게 얻은 효과를 잘 관리해야 전장에서 활약을 펼칠 수 있으므로 아군 정글에 적이 침입하진 않는지 잘 살피셔야 합니다. 이로운 효과를 빼앗길 수 있으니까요!<br>						
					</span>
				</p>
			</div>
			<div class="search-wrapper"></div>
			<div class="board-wrapper"></div>
			<div class="pagination"></div>
		</div>
	</section>
</div>
{% include 'footer.html' %}
</body>
</html>